:root {
   /*
   Feel free to change the names of these variables but make sure to keep the two dashes
   every color in your document should be a var that refrences these color vars
   */
   --color1:#00ffff;
   --color2:#ff00ff;
   --color3:#ffff00;
   --color4:#00ff00;
}

h1 {
   background-color: var(--color1);
}
h2 {
   background-color: var(--color2);
}
h3 {
   background-color: var(--color3);
}
h4 {
   background-color: var(--color4);
}

#themeContainer {
   /*Optional Styling below*/
   background-color: darkmagenta;
}
.radioContainer {
   display: inline-block;
   /*Optional Styling below*/
   background-color: red;
}

.colorInput * {
   display: block;
   /*Optional Styling below*/
}
.colorInput {
   display: inline-block;
   /*Optional Styling below*/
   background-color: darkgray;
   margin: 4px;
}
#colorInputContainer {
   /*Optional Styling below*/
   border: 2px solid black;
   margin: 4px;
}


